{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-6 mt-4 text-center">
        <h2>About EventHorizon</h2>
            <p>
                EventHorizon allows users to share and view events happening in their area. Sign up
                now to share and sign up to attend local events.
            </p>
        </div>
    </div>
</div>
{% endblock %}