{% extends "layout.html" %}

{% block title %}
    Events 
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-4">
{% block main %}
    {% for event in events %}
        <ul>
            <li>{{ event.name }}</li>
            <li>{{ event.description }}</li>
            <li>{{ event.date }}</li>
            <li>{{ event.time }}</li>
            <li>{{ event.hour }}</li>
            <li>{{ event.location }}</li>
        </ul>

    {% endfor %}
</div>
</div>
</div>
{% endblock %}