{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}


{% block title %}
    Events 
{% endblock %}

{% block main %}
<div class="container">
    {% if success != "" %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ success }}</strong>
    </div>
    {% endif %}
    <h3 class="text-center mt-4 mb-4">Events in Your Area</h3>
    <div class="row">
        <table class="table">
            <thead>
                <tr class=" text-center bg-dark text-white">
                    <th>Event Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <!-- allow this row to be editable if created by user-->
                <tr class="event text-center">
                    <td scope="col">{{ event.name }}</td>
                    <td scope="col">{{ event.description }}</td>
                    <td scope="col">{{ event.date }}</td>
                    <td scope="col">{{ event.time }} {{ event.hour }}</td>
                    <td scope="col">{{ event.location }}</td>
                </tr>
                <tr class="show-more">
                    {% if event.userid == session["user_id"] %}
                    <form name="edit" action="{{ url_for('edit', event_id=event.id) }}" method="get" class="mb-4 mt-4">
                        <td colspan="2" class="text-center"><button type="submit" class="btn btn-primary">Edit or Delete Your Event</button>
                    {% else %}
                    <form name="attend" action="{{ url_for('attend', event_id=event.id) }}" method="post" class="mb-4 mt-4">
                        <td colspan="2" class="text-center"><button type="submit" class="btn btn-primary">Register to Attend</button>
                    {% endif %}
                        <ul class="mt-2 attendees list-group">
                            <li class="list-group-item list-group-item-dark">List of Registered Attendees</li>
                            {% for key, value in attend.items() %}
                                {% if key == event.id %}
                                    {% for i in value %}
                                        <li class="list-group-item">{{i}}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            
                        </ul>
                    </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock %}